extends layout

block content
  div.container
    div.pic
      img(src="images/desk.jpg")
    div.blurb
      h1= title
      p More updates for Shifty!
      ul
        li There are 2 new shift types - Reference and SLC. These new columns can be found after the staff hours on the Staff sheet.
        li You can now specify that a staff member does not perform Standard shifts using the 'Standard?' column on the Staff sheet.
        li Check the example sheet in the link below for how the input should now look
        li
          | And ... contact
          |
          a(href="mailto:melanie.kidman@rmit.edu.au") Mel
          |  for support!
      a(href="https://github.com/tkidman/shifty" target="_blank") See here for more information
      div.divform
        form(action="/run", method="post", enctype="multipart/form-data")
          input(type="file", name="input")
          input(type="submit", name="submit")
  if roster
    div.tab
      button#default.tablinks(onclick="openTab(event, 'roster')") Roster
      button.tablinks(onclick="openTab(event, 'staffSummary')") Staff Summary
    include ./roster.pug
    include ./staff-summary.pug
    script
      | document.getElementById("default").click();
  if errors
    p The following problems were found with the spreadsheet:
    ul
      each error in errors
        li= error