extends layout

block content
  div.container
    div.pic
      img(src="images/desk.jpg")
    div.blurb
      if (legacyMode)
        h1 Shifty (legacy mode)
        p Looking for normal mode? Click
          |
          |
          a(href="./") here!
      else
        h1 Shifty
        p Looking for legacy mode? Click
          |
          |
          a(href="./?legacyMode=true") here!
      p Shifty has been updated!
      p Shifty now shows detailed information about all shift allocations.
        |  The tooltip on the staff member's name shows:
      ul
        li Other Staff members who could work the shift, ordered from best match to worst
        li Staff members who usually work the shift but are on leave
        li Staff members who usually work the shift but have a neg
        li Staff members who are working other shifts at the same time
      p Contact
        |
        |
        a(href="mailto:melanie.kidman@rmit.edu.au") Mel
        |  for support!
      a(href="https://github.com/tkidman/shifty" target="_blank") See here for more information
      div.divform
        form(action=legacyMode ? "/run?legacyMode=true" : "/run", method="post", enctype="multipart/form-data")
          input(type="file", name="input")
          input(type="submit", name="submit")
  if roster
    div.tab
      button#default.tablinks(onclick="openTab(event, 'roster')") Roster
      button.tablinks(onclick="openTab(event, 'staffSummary')") Staff Summary
    include ./roster.pug
    include ./staff-summary.pug
    script
      | document.getElementById("default").click();
  if errors
    p The following problems were found with the spreadsheet:
    ul
      each error in errors
        li= error
  if exception
    p.error Sorry, Shifty has encountered an error: #{exception.message}
    | Please contact Mel for support!
