extends layout

block content
  div.container
    div.pic
      img(src="images/desk.jpg")
    div.blurb
      if (legacyMode)
        h1.legacy Shifty
        h3.legacy (legacy mode - grape flavour)
        p Looking for normal mode? Click
          |
          |
          a(href="./") here!
      else
        h1 Shifty
        p Looking for legacy mode? Click
          |
          |
          a(href="./?legacyMode=true") here!
        p Shifty has been updated! It now uses column names from the spreadsheet to get to the data.
          |  This means you can now order the columns within a sheet in any order you want, and delete ones that you don't care about.
          |  Just make sure the column names match what Shifty expects.  See the readme in the link below for a detailed rundown.
        p There's a chance that older spreadsheets will no longer work.  In that case, you can use Legacy Mode.
          |  Click the link above to enter Legacy Mode, and your older sheets should work again.
      p Contact
        |
        |
        a(href="mailto:melanie.kidman@rmit.edu.au") Mel
        |  for support!
      a(href="https://github.com/tkidman/shifty" target="_blank") See here for more information
      div.divform
        form(action=legacyMode ? "/run?legacyMode=true" : "/run", method="post", enctype="multipart/form-data")
          input(type="file", name="input")
          input(type="submit", name="submit")
  if roster
    div.tab
      button#default.tablinks(onclick="openTab(event, 'roster')") Roster
      button.tablinks(onclick="openTab(event, 'staffSummary')") Staff Summary
    include ./roster.pug
    include ./staff-summary.pug
    script
      | document.getElementById("default").click();
  if errors
    p The following problems were found with the spreadsheet:
    ul
      each error in errors
        li= error
  if exception
    p.error Sorry, Shifty has encountered an error: #{exception.message}
    | Please contact Mel for support!
