extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/run", method="post", enctype="multipart/form-data")
    input(type="file", name="input")
    input(type="submit", name="submit")
  if roster
    p The roster
    div
      table
        thead
          tr
            th shift
            th name
        tbody
          each shift in roster.shifts
            tr
              td= shift
              if shift.allocatedEmployees[0]
                td= shift.allocatedEmployees[0].name
              else
                td None found :(