extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/run", method="post", enctype="multipart/form-data")
    input(type="file", name="input")
    input(type="submit", name="submit")
