extends layout

block content
  div.container
    div.pic
      img(src="images/desk.jpg")
    div.blurb
      h1 Shifty
      p.error Performance Information
      p If exporting from google sheets, make sure you don't have lots of empty cells.
        |  Delete any unnecessary columns and rows in the google sheet! This can reduce the size of your exported excel file from 3MB to 25KiBs.
        |  It will be much faster to
        | upload, and will be much faster for shifty to process too. Feel free to add as many shifts and employees as you want, though :)
      p Contact
        |
        |
        a(href="mailto:melanie.kidman@rmit.edu.au") Mel
        |  for support!
      a(href="https://github.com/tkidman/shifty" target="_blank") See here for more information
      div.divform
        form(action="/run", method="post", enctype="multipart/form-data")
          input(type="file", name="input")
          input(type="submit", name="submit")
  if roster
    div.tab
      button#default.tablinks(onclick="openTab(event, 'roster')") Roster
      button.tablinks(onclick="openTab(event, 'staffSummary')") Staff Summary
    include ./roster.pug
    include ./staff-summary.pug
    script
      | document.getElementById("default").click();
  if errors
    p The following problems were found with the spreadsheet:
    ul
      each error in errors
        li= error
  if exception
    p.error Sorry, Shifty has encountered an error: #{exception.message}
    | Please contact Mel for support!
