extends layout

block content
  div.container
    div.pic
      img(src="images/desk.jpg")
    div.blurb
      h1 Shifty
      p Time saving new update!
      ul
        li Shifty can now export the roster it creates to iCalendar format.  You can then import this file into Google Calendar using its import feature found in its settings menu.
        li Click on the 'Export Roster' button at the top of the generated roster to create the export file.
      p Contact
        |
        |
        a(href="mailto:melanie.kidman@rmit.edu.au") Mel
        |  for support!
      a(href="https://github.com/tkidman/shifty" target="_blank") See here for more information
      div.divform
        form(action="/run", method="post", enctype="multipart/form-data")
          input(type="file", name="input")
          input(type="submit", name="submit")
  if roster
    div.tab
      button#default.tablinks(onclick="openTab(event, 'roster')") Roster
      button.tablinks(onclick="openTab(event, 'staffSummary')") Staff Summary
    include ./roster.pug
    include ./staff-summary.pug
    script
      | document.getElementById("default").click();
  if errors
    p The following problems were found with the spreadsheet:
    ul
      each error in errors
        li= error
  if exception
    p.error Sorry, Shifty has encountered an unexpected error: #{exception.message}
    | This should never happen - please contact Mel for support!
