extends layout

block content
  div.container
    div.pic
      img(src="images/desk.jpg")
    div.blurb
      h1= title
      p Shifty has been updated!
      ul
        li RDOs are now Leave, and can be specified as a range of days
        li The 'average weekly hours' column is no longer needed and must be removed
        li Staff hours now need to be specified fortnightly
        li Check the example sheet in the link below for how the input should now look
        li
          | And ... contact
          |
          a(href="mailto:melanie.kidman@rmit.edu.au") Mel
          |  for support!
      a(href="https://github.com/tkidman/shifty" target="_blank") See here for more information
      div.divform
        form(action="/run", method="post", enctype="multipart/form-data")
          input(type="file", name="input")
          input(type="submit", name="submit")
  if roster
    div.tab
      button#default.tablinks(onclick="openTab(event, 'roster')") Roster
      button.tablinks(onclick="openTab(event, 'staffSummary')") Staff Summary
    include ./roster.pug
    include ./staff-summary.pug
    script
      | document.getElementById("default").click();
  if errors
    p The following problems were found with the spreadsheet:
    ul
      each error in errors
        li= error