div#roster.tabcontent
  a(href="", id="downloadAnchor", style="display:none")
  p(id="ical", style="display:none") #{roster.asICal()}
  button(onclick="download('roster.ical', 'text/plain')") Export Roster
  each shiftsByDay in roster.shiftsByDays
    table
      thead
        tr
          th(colspan="3") #{shiftsByDay.header}
      tbody
        each shift in shiftsByDay.shifts
          tr
            td.time #{shift.timeSpanString()}
            include ./name.pug
            td.type #{shift.getTypeAndLabel()}
